
{% extends 'base.html' %}

{% block content %}
  <div class="top-pad">
    <h3>Luis Planelles Developer</h3>
    <hr>
    <h4>Github projects</h4>
    <a href="https://github.com/BirdOnTheBranch" target="_blank">my github</a>
    <hr>
    <table>
      <tr>
      {% for repo in repos %}
        <h5>{{repo.name}}</h4>
        <div><a href="{{ repo.url }}" target="_blank">{{ repo.url }}</a></div>
        <h5>{{repo.description}}</h5>
        <br>
      {% endfor %}
      </tr>
    </table>
    <hr>
    <h4>Codewars records</h4>
    <a href="https://www.codewars.com/users/BirdOnTheBranch?refreshed=true" target="_blank">my codewars</a> 
    <hr>
      <h3>Leaderboard position: {{ skills.leaderboard_position }}</h3>
      <h3>Overall rank name: {{ skills.overall_rankname }}</h3>
      <h3>Challenges authored: {{ skills.challenges_authored }}</h3>
      <h3>Challenges completed: {{ skills.challenges_completed }}</h3>
      <hr>
      {% for language, stats in skills.languages.items() %}
          <h4>{{ language }}</h4>
          <div>{{ stats.name }}</div>
          <div>{{ stats.score }}</div>
          <hr>
      {% endfor %}
  </div>
{% endblock %}
